.about-us-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about-us-links a {
    text-decoration: none;
    color: #ffc107;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #ffc107;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.about-us-links a:hover {
    background-color: #ffc107;
    color: white;
}

.about-us-main-content {
  height: 300px;
    border: 2px solid white;
    text-align: center;
    color: rgb(157, 155, 155);
}

.about-us-main-content h2 {
    color: #ffc107;
    text-align: center;
}

.about-us-main-content p {
    justify-content: center;
}

#about-btn {
    height: 50px;
    color: #212529;
    background-color: transparent;
    border-color: white;
    color: #ffc107 !important;

}

#about-btn:hover {
    color: white !important;
    background-color: #ffc107;
}